%h2 Announcements

.new_announcement.span6
	%h3 Make a New Announcement
	%textarea.new_announcement{:rows=>5}
	%button#create_announcement.btn Save

.prev_announcements


:javascript
	$(function(){
		$("#create_announcement").click(function(){
			text = $('textarea.new_announcement').val()
			alert(text)
		});

	});


