%ul.tier_one_order
	%li.instructions Tier 2 Display Order
	- if @tier2.present?
		- @tier2.each do |artist|
			%li{:id =>"tier_two_id_#{artist.id}", :class=>"ui-state-default tier#{artist.tier}"}=artist.name
				
%button#tier_one.btn.btn-primary.store-list Save List

:javascript
	$(function() {

	    $(".tier_two_order").sortable({
	    	items: "li:not(.instructions)",
	    	change: function(event, ui){
	    		if($("#tier_two.store-list").hasClass("disabled"))
	    			$("#tier_two.store-list").removeClass("disabled").text("Save");
	    	}
	    });

		$("#tier_two.store-list").click(function(){
			storeDisplayOrder("two");
		});

	});