.jumbotron
  %ul.actions
    %li=link_to "Manage Artists", artists_dashboard_index_path, :class=>'btn btn-lrg btn-primary'
    %li=link_to "Manage Events", events_dashboard_index_path, :class=>'btn btn-lrg btn-primary'
    %li=link_to "Manage Venues", venues_dashboard_index_path, :class=>'btn btn-lrg btn-primary'
