<div class="row show-grid">
	<div class="span12">
	<h1>Dashboard</h1>
</div>
</div>
<ul class="nav nav-tabs">
  <li><a href="#home" data-toggle="tab">Home</a></li>
  <li><a href="#profile" data-toggle="tab">Profile</a></li>
  <li><a href="#messages" data-toggle="tab">Messages</a></li>
  <li><a href="#settings" data-toggle="tab">Settings</a></li>
</ul>


<div class="tab-content">
  <div class="tab-pane active" id="home"><a href="#" rel="tooltip" title="Here WE GO">hover over me</a></div>
  <div class="tab-pane" id="profile">Profile</div>
  <div class="tab-pane" id="messages">Messages</div>
  <div class="tab-pane" id="settings">Settings</div>
</div>