#artist_crop
  %h1 Crop Image
  %img{:src=>@artist.image.url, :style=>"max-width:700px"}

  %h4 Minimum Size: 450x300
  #selection Current Selection (w X h):
  .pad{:style=>"margin-bottom:50px"}
    =form_for @artist do
      =hidden_field(:crop, :x1)
      =hidden_field(:crop, :y1)
      =hidden_field(:crop, :x2)
      =hidden_field(:crop, :y2)
      =hidden_field(:crop, :w)
      =hidden_field(:crop, :h)
      %button.btn{:type=>"submit"} Crop
