%h1 Mission Creek Festival 2013 Lineup

-[1,2,3].each do |tier_num|
  .row
    -[1,2,3].each do |col_num|
      - artists = @sorted[tier_num.to_s]["col#{col_num}"]
      .span4
        .col{:class=>"tier#{tier_num}"}= render :partial => "lineup_column", :locals => { :artists => artists }
    - if !@sorted[tier_num.to_s]['rem'].empty?
      .span12
        .rem{:class=>"tier#{tier_num}"}= render :partial => "lineup_column", :locals => { :artists => @sorted[tier_num.to_s]['rem'] }

