.row.title
  %h1 2014 Lineup
.row.body
  - @artists.each_slice(4) do |artists|
    .row
      - artists.each do |artist|
        .col-xs-3.artist{:id=>"artist_#{artist.id}"}
          %a{:href=>artist_path(artist)}= artist.name

= render partial: "hovers", :locals => {:artists => @artists}
   
