%h2.lineup Mission Creek Festival 2013 Lineup

.tier1.row
  -@tier1.each do |artist|
    .span4= link_to artist.name, artist_path(artist.id)

.tier2.row
  -@tier2.each do |artist|
    .span4= link_to artist.name, artist_path(artist.id)

.tier3.row
  -@tier3.each do |artist|
    .span4= link_to artist.name, artist_path(artist.id)