.row.title
  .col-xs-7
    %h1.sub.artist_name=@artist.name
  .col-xs-5
    %h1
      %ul{:style=>"margin-bottom:0px"}
        - if @artist.official_url != "" && @artist.official_url.nil? == false
          %li
            - official = (@artist.official_url.match(/^http:\/\//).nil?)? "http://#{@artist.official_url} " : @artist.official_url
            %a{:href=>official,:target=>"_other"} Website
        - if @artist.twitter_url != "" && @artist.twitter_url.nil? == false
          %li
            - twitter = (@artist.twitter_url.match(/^http:\/\//).nil?)? "http://#{@artist.twitter_url} " : @artist.twitter_url
            %a{:href=>twitter,:target=>"_other"} Twitter
        - if @artist.facebook_url != "" && @artist.facebook_url.nil? == false
          %li
            - facebook = (@artist.facebook_url.match(/^http:\/\//).nil?)? "http://#{@artist.facebook_url} " : @artist.facebook_url
            %a{:href=>facebook, :target=>"_other"} Facebook
.row.body
  .col-xs-7
    - image_url = (@artist.image.url) ? @artist.image.medium.url : asset_path("no-image.png")
    %img{:src => image_url,:style=>"max-width:450px"}
    .artist_bio=@artist.bio.html_safe
  .col-xs-5
    .passes.media
      - if @artist.category_list.first == "tech"
        .row.tech
          - tech_pass = "http://www.midwestix.com/organizations/mission-creek-tech"
          %a{:href=>tech_pass, :target=>"_new"}Buy Tech + Innovation Pass
          %span.glyphicon.glyphicon-circle-arrow-right
      - else
        .row.artist-tickets
          - mwt_landing = "http://www.midwestix.com/organizations/mission-creek-festival"
          %a{:href=>mwt_landing,:target=>"_new"}Buy individual tickets
          %span.glyphicon.glyphicon-circle-arrow-right
      .row
        - if @artist.youtube_url != ""
          - url = @artist.youtube_url.gsub(/watch[?]v[=]/, "embed/")
          %iframe.youtube{:width => "400", :height =>"315", :src=> url, :frameborder => "0"}
      .row
        - if @artist.spotify_url != ""
          %iframe.spotify{:width=>"400", :height=>"80", :frameborder => "no", :src=>"https://embed.spotify.com/?uri=#{@artist.spotify_url}", :allowtransparency=>'true'}
        
:javascript
  $(document).ready(function(){
    $(".nfs").each(function(){
      $(this).tooltip();
    });
  
  });



