.front.artists.span8
	%ul
		- @artists.each do |artist|
			%li.artists{:style=>"line-height:#{14.0/(@artists.length)}em"}=artist.name
		%li.artists.more{:style=>"line-height:2em"} See All Artists
	#artistCarousel.carousel.slide
		.carousel-inner
			- @artists.each do |artist|
				.item
					%image{'src' => artist.image.carousel.url}
					.carousel-caption
						%h4="#{artist.name}"

:javascript
	$(document).ready(function()
	{
		$('#artistCarousel').carousel();
	});