.features
	.feature
		%h3 
			%a Music
		%img.bordered{:src => asset_path("page-bg.jpg")}
	.feature
		%h3 
			%a Food
		%img.bordered{:src => asset_path("page-bg.jpg")}
	.feature
		%h3 
			%a Lit
		%img{:src => asset_path("page-bg.jpg")}

