.features
	- @features.each do |feature|
		.feature
			%h3 
				%a{:href=>page_path(feature)}= feature.title
			%img.bordered{:src => feature.splash_image}			

:javascript
	$(".bordered").last().removeClass("bordered")

