.front.features.span7
	#featureCarousel.carousel.slide
		.carousel-inner
			.item
				%image{'src' => 'https://s3.amazonaws.com/missioncreek-assets/static/the-englert.jpeg'}
				.carousel-caption
					%h4 Music
					%p Article about music
		.carousel-inner
			.item
				%image{'src' => 'https://s3.amazonaws.com/missioncreek-assets/static/the-englert.jpeg'}
				.carousel-caption
					%h4 Literature
					%p Article about literature
		/ %a.carousel-control{'href' => '#featureCarousel', 'data-slide' => "prev"} &lsaquo;
		/ %a.carousel-control{'href' => '#featureCarousel', 'data-slide' => "next"} &rsaquo;


