#mc_embed_signup
	%form#mc-embedded-subscribe-form{:action => "http://missionfreak.us4.list-manage.com/subscribe/post?u=f1315fe04847b80e18a6d573f&amp;id=8cd3e1e60d", :method =>"post", :target=>"_blank"}
		%label.email{:for=>"mce-EMAIL"}Email Signup
		%input#mce-EMAIL.email{:type=>"email", :value=>"", :name=>"EMAIL",:placeholder=>"email address"}
		%input{:type=>"submit", :value=>"Subscribe", :name=>"subscribe", :id=>"mc-embedded-subscribe"}