.passes
  .row.silver
    %a{:href=>"#"}Buy silver pass
    %span.glyphicon.glyphicon-circle-arrow-right
  .row.deluxe
    %a{:href=>"#"}Buy Deluxe pass
    %span.glyphicon.glyphicon-circle-arrow-right
  .row.individual
    %a{:href=>"#"}Buy individual tickets
    %span.glyphicon.glyphicon-circle-arrow-right
.row.fine-print
  <p><span>THE FINE PRINT -</span> All pass sales are final. No refunds or exchanges. All Acts and performers are subject to change without notice. Lost or stolen passes cannot be replaced. Passholders are subject to the rules and regulations of any venue they attend as part of the festival. The management of each venue reserves the right to remove any person who violates the rules of the venue or any local, state, or federal laws.
  
