- silver = "http://events.midwestix.com/websales/pages/TicketSearchCriteria.aspx?evtinfo=66606~8d1510aa-cb37-40e0-a10d-dd6b8f06bb1e&ven=f7ccb5cc-b926-4d47-98f6-c1a340464c30&"
- deluxe = "http://events.midwestix.com/websales/pages/TicketSearchCriteria.aspx?evtinfo=66611~8d1510aa-cb37-40e0-a10d-dd6b8f06bb1e&ven=f7ccb5cc-b926-4d47-98f6-c1a340464c30&"
.passes
  .row.silver
    %a{:href=>silver, :target=>"_other"}Buy silver pass
    %span.glyphicon.glyphicon-circle-arrow-right
  .row.deluxe
    %a{:href=>deluxe, :target=>"_other"}Buy Deluxe pass
    %span.glyphicon.glyphicon-circle-arrow-right
  .row.individual
    %a{:href=>"#",:class=>"nfs",:title=>"Individual tickets on sale January 31st",:data=>{:toggle=>"tooltip"}}Buy individual tickets
    %span.glyphicon.glyphicon-circle-arrow-right
 
