.sponsors
	%h3.sponsors THANK YOU TO OUR SPONSORS
	%ul
		%li
			%a{:href=>"http://www.jimbeam.com",:target=>"_other"}
				%img{:src => asset_path("sponsors/jim_beam.png")}
		%li
			%a{:href=>"http://www.newbelgium.com/",:target=>"_other"}
				%img{:src => asset_path("sponsors/new_belgium.png")}
		%li
			%a{:href=>"http://www.iowacitycoralville.org/",:target=>"_other"}
				%img{:src => asset_path("sponsors/ic_cv.png")}
		%li
			%a{:href=>"http://www.icgov.org/",:target=>"_other"}
				%img{:src => asset_path("sponsors/city_of_iowa_city.png")}
		%li
			%a{:href=>"http://littlevillagemag.com/",:target=>"_other"}
				%img{:src => asset_path("sponsors/lv.png")}
		%li
			%a{:href=>"http://downtowniowacity.com/",:target=>"_other"}
				%img{:src => asset_path("sponsors/downtown.png")}
		%li
			%a{:href=>"http://mcginsberg.com/",:target=>"_other"}
				%img{:src => asset_path("sponsors/mc_ginsberg.png")}
		%li
			%a{:href=>"http://www.bradleyriley.com/",:target=>"_other"}
				%img{:src => asset_path("sponsors/bradleyriley.png")}
		%li
			%a{:href=>"http://www.hancher.uiowa.edu/",:target=>"_other"}
				%img{:src => asset_path("sponsors/hancher.png")}
		%li
			%a{:href=>"http://iowapublicradio.org/",:target=>"_other"}
				%img{:src => asset_path("sponsors/ipr.png")}
		%li
			%a{:href=>"http://www.sheratoniowacity.com/",:target=>"_other"}
				%img{:src => asset_path("sponsors/sheraton.png")}
		%li
			%a{:href=>"http://www.westmusic.com/",:target=>"_other"}
				%img{:src => asset_path("sponsors/westmusic.png")}
	%h3.james A JAMES GANG ENDEAVOR