.sponsors
	%h3.sponsors THANK YOU TO OUR SPONSORS
	%ul
		%li
			%a{:href=>"#",:target=>"_other"}
				%img{:src => asset_path("sponsors/jim_beam.png")}
		%li
			%a{:href=>"#",:target=>"_other"}
				%img{:src => asset_path("sponsors/new_belgium.png")}
		%li
			%a{:href=>"#",:target=>"_other"}
				%img{:src => asset_path("sponsors/ic_cv.png")}
		%li
			%a{:href=>"#",:target=>"_other"}
				%img{:src => asset_path("sponsors/city_of_iowa_city.png")}
		%li
			%a{:href=>"#",:target=>"_other"}
				%img{:src => asset_path("sponsors/lv.png")}
		%li
			%a{:href=>"#",:target=>"_other"}
				%img{:src => asset_path("sponsors/downtown.png")}
		%li
			%a{:href=>"#",:target=>"_other"}
				%img{:src => asset_path("sponsors/mc_ginsberg.png")}
	%h3.james A JAMES GANG ENDEAVOR