.front.tickets
	%p You can attend Mission Creek shows with a Festival Pass or purchase tickets to individual events. Festival passes grant access to every Mission Creek Festival show. In order to guarantee entry to smaller venues (The Mill, Yacht Club, Public Space One) pass holders must arrive within one hour of advertised door time. Space will be reserved for all pass holders at larger venues -- The Englert Theatre, Blue Moose Tap House, and Gabe’s -- thus, you may arrive at any time during the show. Festival Passes are available now: <a href="http://events.midwestix.com/websales/pages/TicketSearchCriteria.aspx?epguid=f3d9f22c-a223-413a-950a-e2b26a820c3c&evtinfo=53634~21fb7626-0d14-44ca-ad0b-92d2824c23d3&" target="_other">PASSES</a>
	
	