- mwt = "http://www.midwestix.com/organizations/mission-creek-festival"
.col-xs-8.home
  #carousel-front-page.row.carousel
    .constant
      %a{:href=>mwt,:target=>"_other"} Festival Passes
      %span.glyphicon.glyphicon-circle-arrow-right
      %a{:href=>lineup_path,:style=>"margin-left:10px;"} 2014 Lineup 
      %span.glyphicon.glyphicon-circle-arrow-right
    %ol.carousel-indicators
      %li.active{:data=>{"slide-to" =>"0", :target => "#carousel-front-page"}}
      %li{:data=>{"slide-to" =>"1", :target => "#carousel-front-page"}}
      %li{:data=>{"slide-to" =>"2", :target => "#carousel-front-page"}}
    .carousel-inner
      .item.active
        %img{:src=>"/assets/fp/headandheart.jpg"}
        .carousel-caption
          %h2 The Head and the Heart
      .item
        %img{:src=>"/assets/fp/philip_glass.jpg"}
        .carousel-caption
          %h2 Philip Glass
      .item
        %img{:src=>"/assets/fp/rachel_kushner.jpg"}
        .carousel-caption
          %h2 Rachel Kushner

  .row.info
    .col-xs-6{:style=>"padding:0px"}
      .circles
      .left
        %h2 What's Happening?
        %a{:href=>about_path}Learn more about the fest
        %span.glyphicon.glyphicon-circle-arrow-right
    .col-xs-6
      .circles
      .right
        %h2 Join us!
        %a{:href=>mwt, :target=>"_other"}Find prices & buy tickets
        %span.glyphicon.glyphicon-circle-arrow-right
.col-xs-4
  .mailing-list
    %p Subscribe to Our Email List
    %form#mc-embedded-subscribe-form{:action => "http://missionfreak.us4.list-manage.com/subscribe/post?u=f1315fe04847b80e18a6d573f&amp;id=8cd3e1e60d", :method =>"post", :target=>"_blank"}
      .field.form-group
        %input#mce-EMAIL.form-control.email{:type=>"email", :value=>"", :name=>"EMAIL",:placeholder=>"email address"}
        %button.btn{:type=>"submit", :value=>"Subscribe", :name=>"subscribe", :id=>"mc-embedded-subscribe"}Submit
  .twitter{:style=>"margin-top:15px"}
    = render partial: "twitter"

  
#overlay.modal.fade
  .modal-dialog
    .modal-content 
      .modal-body
        %img.overlay{:src=>asset_path("overlay.jpg")}

:javascript
  $('.carousel').carousel({
    interval: 5000
  });
  if(!/Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent))// && !$.cookie("overlay"))
  {
    var date = new Date();
    var minutes = 1;
    date.setTime(date.getTime() + (minutes * 60 * 1000));
    //$.cookie("overlay", "true",{expires: date})
    //$("#overlay").modal();
  }
  var twitterCheck = setInterval(function(){
    if($('iframe.twitter-timeline'))
    {
      twitter = $('iframe.twitter-timeline').contents();
      $('.timeline', twitter).css("border-radius", "0px").css("background-color","rgba(251,251,251,.9)");
    }
  },500);    
  setTimeout(function(){
    clearTimeout(twitterCheck);
  },3000);
