.padding
	.row-fluid
		.span5
			%h2.front=link_to raw("ARTISTS&raquo;"), artists_path
			= render :partial => 'artists'
		.span7
			%h2.front Announcements
			= render :partial => 'announcements'
			%h2.front Ticket Information
			= render :partial => 'tickets'
	.row-fluid
		.span5
			%h2.front Twitter
			=render :partial => 'twitter'
		