.row.title
  %h1 2014 Sponsors
.row.body.sponsors
  .col-xs-2
    %a{:href=>"http://www.jimbeam.com/", :target=>'_other'}
      %img{:src=>"/assets/sponsors_color/jim_beam.png"}
  .col-xs-2
    %a{:href=>"http://www.idtdna.com/", :target=>'_other'}
      %img{:src=>"/assets/sponsors_color/idt.png"}
  .col-xs-2
    %a{:href=>"http://www.icgov.com/", :target=>'_other'}
      %img{:src=>"/assets/sponsors_color/city_of_iowa_city.png"}
