.row.title
  .col-xs-12
    %h1 2014 Sponsors
.row.body.sponsors
  .col-xs-2
    %a{:href=>"http://www.uiccu.org/", :target=>'_other'}
      %img{:src=>"/assets/sponsors_color/uiccu.png"}
  .col-xs-2
    %a{:href=>"http://www.jimbeam.com/", :target=>'_other'}
      %img{:src=>"/assets/sponsors_color/jim_beam.png"}
  .col-xs-2
    %a{:href=>"http://www.iowapublicradio.org/", :target=>'_other'}
      %img{:src=>"/assets/sponsors_color/ipr.png"}
  .col-xs-2
    %a{:href=>"http://www.idtdna.com/", :target=>'_other'}
      %img{:src=>"/assets/sponsors_color/idt.png"}
  .col-xs-2
    %a{:href=>" http://iowacitycoralville.com/", :target=>'_other'}
      %img{:src=>"/assets/sponsors_color/ic_visitors.png"}
  .col-xs-2
    %a{:href=>"http://www.moengroup.com/", :target=>'_other'}
      %img{:src=>"/assets/sponsors_color/moen.png"}
.row.body.sponsors
  .col-xs-2
    %a{:href=>"http://www.downtowniowacity.com/", :target=>'_other'}
      %img{:src=>"/assets/sponsors_color/icdd.png"}
  .col-xs-2
    %a{:href=>"http://www.mcginsberg.com/", :target=>'_other'}
      %img{:src=>"/assets/sponsors_color/mc_ginsberg.png"}
  .col-xs-2
    %a{:href=>"http://www.hancher.uiowa.edu/", :target=>'_other'}
      %img{:src=>"/assets/sponsors_color/hancher.png"}
  .col-xs-2
    %a{:href=>"http://www.icgov.com/", :target=>'_other'}
      %img{:src=>"/assets/sponsors_color/city_of_iowa_city.png"}
  .col-xs-2
    %a{:href=>"http://www.sheratoniowacity.com/", :target=>'_other'}
      %img{:src=>"/assets/sponsors_color/sheraton.png"}
  .col-xs-2
    %a{:href=>"http://www.newbelgium.com/", :target=>'_other'}
      %img{:src=>"/assets/sponsors_color/new_belgium.png"}
.row.body.sponsors
  .col-xs-2
    %a{:href=>"http://www.littlevillagemag.com/", :target=>'_other'}
      %img{:src=>"/assets/sponsors_color/lv.png"}
  .col-xs-2
    %a{:href=>"http://www.westmusic.com/", :target=>'_other'}
      %img{:src=>"/assets/sponsors_color/wm.png"}
  .col-xs-2
    %a{:href=>"http://revivaliowacity.com/", :target=>'_other'}
      %img{:src=>"/assets/sponsors_color/revival.png"}
  .col-xs-2
    %a{:href=>"http://www.deluxecakesandpastries.com/", :target=>'_other'}
      %img{:src=>"/assets/sponsors_color/deluxe.png"}
