.row.title
  .col-xs-12
    %h1.sub Tech Schedule
    %ul
      %li
        %a{:href=>tech_path}Tech Info
.row.body
  .col-xs-8
    %h3 Full schedule coming soon!
  .col-xs-4
    .passes
      .row.tech
        %a{:href=>"#"}Buy Tech + Innovation Pass
        %span.glyphicon.glyphicon-circle-arrow-right
