.row.title
  .col-xs-12
    %h1.sub Tech Schedule
    %ul
      %li
        %a{:href=>tech_path}Tech Info
.row.body
  .col-xs-8
    %h3 Full schedule coming soon!
  .col-xs-4
    .passes
      .row.tech
        - tech_pass = "http://www.midwestix.com/organizations/mission-creek-tech"
        %a{:href=>tech_pass, :target=>"_new"}Buy Tech + Innovation Pass
        %span.glyphicon.glyphicon-circle-arrow-right
