.row.title
  .col-xs-12
    %h1.sub Tech + Innovation Conference
    %ul{:style=>"margin-left:54px"}
      %li
        %a{:href=>tech_schedule_path}Tech Schedule
.row.body
  .col-xs-8
    %p{:style=>"font-size:16px"} The Mission Creek Tech + Innovation Conference (April 4 - 5) celebrates what technology empowers, highlights where tech culture must improve, and showcases what the future may hold. National and regional technologists will gather to explore these themes in the intimate setting of Iowa City. The conference kicks off with an opening ceremony on the evening of Friday, April 4th and continues through Saturday, April 5th with a series of presentations and discussions from visiting speakers. The sessions will close with a keynote lecture on Saturday evening. This conference positions itself as a networking and knowledge-gathering hub for Midwest-based technologists and entrepreneurs as well as an oasis for thinkers from the coasts. With assured intent, the Mission Creek Tech + Innovation conference takes place in the midst of fully-blooming arts festival, a nod to the creativity that drives us all -- artists and technologists alike.
    %p{:style=>"font-size:16px"}
      The conference kicks off with an opening ceremony on the evening of Friday, April 4th and continues through Saturday, 
      April 5th at the Pappajohn Business Building at the University of Iowa with a series of presentations and discussions from visiting speakers. 
      The sessions will close with a keynote address by <b>Matthew Israel</b>, Director of The Art Genome Project at Artsy, 
      on Saturday evening at the Englert Theatre.
    %p{:style=>"font-size:16px"}
      Confirmed speakers include <b>Jen Myers</b>, <b>Riley Eynon-Lynch</b> and <b>Dan Sweeney</b> of Pear Deck, <b>Shawn Cornally</b>, <b>Chad Whitacre</b>, 
      <b>David Gould</b> of the Downtown Project in Las Vegas, and <b>Matthew Israel</b> of <a href="https://artsy.net/" target="_new">Artsy</a>.
    %p.pass{:style=>"font-weight:bold; font-size:16px"} Early Bird Passes available Jan 31 - Feb 14 -- $75
    %p.pass{:style=>"font-weight:bold; font-size:16px"} Regular Passes available Feb 15 - March 29 -- $85
    %p.pass{:style=>"font-weight:bold; font-size:16px"} On-site registration -- details TBD
    %p.pass{:style=>"font-weight:bold; font-size:16px"} Questions/FAQ/Contact: <a href="mailto:andre@missionfreak.com">andre@missionfreak.com</a>
  .col-xs-4
    .passes
      .row.tech
        - tech_pass = "http://www.midwestix.com/organizations/mission-creek-tech"
        %a{:href=>tech_pass, :target=>"_new"}Buy Tech + Innovation Pass
        %span.glyphicon.glyphicon-circle-arrow-right
.row.tech_sponsors{:style=>"margin-bottom:25px"}
  .col-xs-12
    %h1 Sponsors
    .row.col-xs-12
      %a{:href=>"http://www.hawkeyehotels.com/", :target=>"_other"}
        %img{:src=>"/assets/tech_sponsors/hawkeye_hotels.png"}
      %a{:href=>"http://www.hobu.co/", :target=>"_other"}
        %img{:src=>"/assets/tech_sponsors/hobu.png"}
      %a{:href=>"http://www.iowajpec.org/", :target=>"_other"}
        %img{:src=>"/assets/tech_sponsors/jpec.png"}
    .row.col-xs-12{:style=>"margin-top:15px"}
      %a{:href=>"http://www.iowacityareadevelopment.com/", :target=>"_other"}
        %img{:src=>"/assets/tech_sponsors/icad.png"}
      %a{:href=>"http://www.iccolab.com/", :target=>"_other"}
        %img{:src=>"/assets/tech_sponsors/colab.png"}
      %a{:href=>"http://gofullstack.com/", :htarget=>"_other"}
        %img{:src=>"/assets/tech_sponsors/fullstack.png"}
    
