- deluxe = "http://events.midwestix.com/websales/pages/TicketSearchCriteria.aspx?evtinfo=66611~8d1510aa-cb37-40e0-a10d-dd6b8f06bb1e&ven=f7ccb5cc-b926-4d47-98f6-c1a340464c30&"
.row.title
  %h1 Tickets & Passes
.row.body
  .col-xs-8.info
    .row
      %p 
        You can attend Mission Creek shows with a Festival Pass or purchase tickets to individual events. Some events are free and open to the public.
        For information about hotel deals in the area visit our
        =link_to("About page.", about_path)
        %span During the week of Mission Creek Festival (Apr 1 - 6) all pass holders receive 15% discounts on meals from the following participating restaurants: Banditos, Clinton Street Social Club, Devotay, Leaf Kitchen, Motley Cow Cafe, and Trumpet Blossom Cafe.
    .row.pass
      .col-xs-3
        %h2.silver $125
      .col-xs-9
        %h3.silver Silver Pass - $125
        <p> The <span>Silver Pass</span> grants access to all Mission Creek Festival ticketed music and comedic performances. Entrance to ticketed events at The Englert Theatre and Blue Moose Tap House is guaranteed at all times. Entrance to other venues is subject to capacity. Film screenings, culinary events, and Tech + Innovation events are not included in the Silver Pass and will require the purchase of additional tickets.<a class="nfs" target="_other">Buy Pass</a><span class="glyphicon glyphicon-circle-arrow-right"></span></p>
    .row.pass
      .col-xs-3
        %h2.deluxe $500
      .col-xs-9
        %h3.deluxe Deluxe Pass - $500
        <p> The <span>Deluxe Pass</span> guarantees entrance to all Mission Creek ticketed events (Free events are subject to capacity). Events include music and comedic performances, film screenings at FilmScene, free meals at all culinary events throughout the week (special dinners at Devotay, Leaf Kitchen, and Motley Cow; special brunches at the Mill and Trumpet Blossom), registration at the Tech + Innovation mini-conference, a special reception (Thu, Apr 3) at Plaza Towers, and a post-show meet and greet with Philip Glass.<a href="http://events.midwestix.com/websales/pages/TicketSearchCriteria.aspx?evtinfo=66611~8d1510aa-cb37-40e0-a10d-dd6b8f06bb1e&ven=f7ccb5cc-b926-4d47-98f6-c1a340464c30&" target="_other">Buy Pass</a><span class="glyphicon glyphicon-circle-arrow-right"></span></p>

  .col-xs-4.sidebar
    = render partial: "passes"
    .row.fine-print
      <p><span>THE FINE PRINT -</span> All pass sales are final. No refunds or exchanges. All Acts and performers are subject to change without notice. Lost or stolen passes cannot be replaced. Passholders are subject to the rules and regulations of any venue they attend as part of the festival. The management of each venue reserves the right to remove any person who violates the rules of the venue or any local, state, or federal laws.
