<div class="front artists span8">
	<ul>
		<% @artists.each do |artist| %>
			<li><%= artist.name %></li>
		<% end %>
	</ul>
<!-- 	<span class='lineup-nav'>
		<a href='#' class='active'>•</a>
		<a href='#'>•</a>
		<a href='#'>•</a>
	</span> -->
</div>