%li.event
  - name = (event.show_title) ? event.title : event.headliners.map(&:name).join(" & ")
  .name=name
  .location=event.venue.name
  .time=event.door_time.strftime("%l %P")
  .details
    %a Details
    %span.glyphicon.glyphicon-plus-sign
  .tickets
