%li.event
	- name = (event.show_title) ? event.title : event.headliners.map(&:name).join(" & ")
	.image
		%a{:href=>event_path(event)}
			%img{:src=>event.headliners.first.image}
	.top
		.name=name
		@
		%a.venue{:href=>"#{event.venue.url}", :target=>"_other"}=event.venue.name
		.support="W/ #{event.support.map(&:name).join(', ')}"
	.bottom
		%a{:href=>event_path(event)}Details
		|
		%a{:href=>"http://www.midwestix.com/organizations/mission-creek-festival", :target=>"_other"}Get Tickets