.event
  %h1 CURSIVE
  %h2 THURSDAY, JUNE 20 / 9PM
  %h3 THE MILL
  %h4 
    %a TICKETS
  
.event
  %h1 El-P + Killer Mike 
  %h2 Thursday, July 18 / 9pm
  %h3 Gabes
  %h4 
    %a TICKETS

.event.last
  %h1 Swans 
  %h2 Monday, July 22 / 9PM
  %h3 Blue Moose Taphouse
  %h4 
    %a TICKETS
