- twitter ="https://twitter.com/missioncreekic"
- facebook = "https://www.facebook.com/MissionCreekFestival?fref=ts"
- delorean = "http://midwestix.securemytix.com/event/3786474 "
.event
  %h1 Delorean
  %h2{:style=>"color:#A42E31"} RESCHEDULED - Refunds available at point of purchase
  %h2{:style=>"text-decoration:line-through"} Friday, November 1st / 9pm
  %h2 Saturday, February 15th / 9pm
  %h3 The Mill 
  %h4 
    %a{:href=>delorean, :target=>'_other'} TICKETS
%ul.social
  %li
    %a{:href=>twitter, :target=>"_other"}Twitter
  %li
    %a{:href=>facebook, :target=>"_other"}Facebook
