- twitter ="https://twitter.com/missioncreekic"
- facebook = "https://www.facebook.com/MissionCreekFestival?fref=ts"
- mobb_deep = "http://d.pr/tq29"
- quintron = "http://www.midwestix.com/organizations/the-mill"
- renaldo = "http://www.icgabes.com/event/335037-lee-ranaldo-dust-iowa-city/"

.event
  %h1 Mobb Deep 
  %h2 Friday, September 13 / 9PM
  %h3 The Englert Theatre 
  %h4 
    %a{:href=>mobb_deep, :target=>'_other'} TICKETS
.event
  %h1 Quintron &amp Miss Pussycat 
  %h2 Sunday, October 6th / 8PM
  %h3 The Mill
  %h4 
    %a{:href=>quintron, :target=>'_other'} TICKETS
.event
  %h1 Lee Ranaldo and The Dust
  %h2 Thursday, October 17th / 9PM
  %h3 Gabe's
  %h4 
    %a{:href=>renaldo, :target=>'_other'} TICKETS
%ul.social
  %li
    %a{:href=>twitter, :target=>"_other"}Twitter
  %li
    %a{:href=>facebook, :target=>"_other"}Facebook
