- twitter ="https://twitter.com/missioncreekic"
- facebook = "https://www.facebook.com/MissionCreekFestival?fref=ts"
- quintron = "http://www.midwestix.com/organizations/the-mill"
- renaldo = "http://www.icgabes.com/event/335037-lee-ranaldo-dust-iowa-city/"
- cabinet = "http://d.pr/AUXJ"
- delorean = "http://d.pr/cort"
.event
  %h1 Quintron &amp Miss Pussycat 
  %h2 Sunday, October 6th / 8PM
  %h3 The Mill
  %h4 
    %a{:href=>quintron, :target=>'_other'} TICKETS
.event
  %h1 Wesley Stace's Cabinet of Wonders
  %h1{:style => "font-size:24px; line-height:27px"} Feat. Todd Barry, Robbie Fulks, Jon Langford (The Mekons), Sam Prekop &amp; Archer Prewitt (The Sea and Cake), John Roderick (The Long Winters) &amp; Dora Malech
  %h2 Saturday, October 12th / 8pm
  %h3 The Englert Theatre
  %h4 
    %a{:href=>cabinet, :target=>'_other'} TICKETS
.event
  %h1 Lee Ranaldo and The Dust
  %h2 Thursday, October 17th / 9PM
  %h3 Gabe's
  %h4 
    %a{:href=>renaldo, :target=>'_other'} TICKETS
.event
  %h1 Delorean
  %h2 Friday, November 1st / 9pm
  %h3 Blue Moose Tap House
  %h4 
    %a{:href=>delorean, :target=>'_other'} TICKETS
%ul.social
  %li
    %a{:href=>twitter, :target=>"_other"}Twitter
  %li
    %a{:href=>facebook, :target=>"_other"}Facebook
