- swans_tix = 'http://www.ticketfly.com/purchase/event/260641?__utmx=-&__utmv=-&__utmk=173646371&__utmz=1.1366755039.1.1.utmcsr%3Dfacebook.com%7Cutmccn%3D%28referral%29%7Cutmcmd%3Dreferral%7Cutmcct%3D%2F&__utma=1.2137724882.1366755039.1366755039.1366755039.1&__utmc=1&__utmb=1.1.10.1366755039&wrKey=D55CECDA65995C340FEA3B0DCEB53E78'
- twitter ="https://twitter.com/missioncreekic"
- facebook = "https://www.facebook.com/MissionCreekFestival?fref=ts"
- mobb_deep = "http://d.pr/tq29"

.event
  %h1 Swans 
  %h2 Monday, July 22 / 9PM
  %h3 Blue Moose Taphouse
  %h4 
    %a{:href=>swans_tix, :target=>'_other'} TICKETS
.event
  %h1 Mobb Deep 
  %h2 Friday, September 13 / 9PM
  %h3 The Englert Theatre 
  %h4 
    %a{:href=>mobb_deep, :target=>'_other'} TICKETS
%ul.social
  %li
    %a{:href=>twitter, :target=>"_other"}Twitter
  %li
    %a{:href=>facebook, :target=>"_other"}Facebook
