.carousel
	.carousel_inner
		.item.active
			%img{:src => @splash_image}
			.carousel-caption
				%h1#page_title=@page.title
=render :partial => 'base/nav'
.page=raw @page.formatted_body
.children
	- if @children.present?
		%ul
			- @children.each do |child|
				%li
					%a{:href=>page_path(child)}=child.title


