%p Mission Creek Festival takes place in venues across downtown Iowa City including but not limited to: Blue Moose Taphouse, The Englert Theatre, Gabe’s, The Mill, Yacht Club, and Trumpet Blossom. The festival dates are April 1 - 6, 2014. Festival programming will include concerts, comedic performances, literary readings and events, film screenings, public lectures, food and culture events, and a tech and innovation mini-conference. All events will be within five minutes walking of other events. 
%p For press/marketing questions contact Zoey at <a href="mailto:press@missionfreak.com">press@missionfreak.com</a>.
%p For general questions contact Andre at <a href="mailto:andre@missionfreak.com">andre@missionfreak.com</a>.
