/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.top .front
{
	height:inherit;
}


.top ul
{
	list-style-type: none;
	font-size: 16px;
	text-align: center;
	margin:0px;
	background-color:#ddd;
	height:inherit;
}
.front.tickets
{	
	background-color: #ddd;

}

.row.top
{
	height: 200px;
}

.front.features, .front.twitter
{
	margin-top:20px;
	height: 300px;
	background-color: #ddd;
}

.front.sponsors
{
	margin-top: 20px;
	height: 500px;
	background-color: #ddd;
}