td.confirm-large-image
{
	color:green;
}

td.artist-name
{
	color:black;
}

.front.artists
{
	background-color: black;
}

.front.artists ul
{
	text-align: left;
	width:220px;
	font-size: 14px;
	float:left;

}

.front.artists img
{
	background-color: black;
}

.front.artists ul
{

}

#artistCarousel
{
	width: 400px;
	height: 100%;
	float: left;
}

li.artists
{
	font-size: 1.4em;
	/*line-height: 1.9em;*/
	margin-left: 15px;
	&:hover{
		cursor:pointer;
	};

}
li.artists.more
{
	margin-right: 10px;
	text-align:right;
}
li.artists a
{

}