@import "colors";
td.confirm-large-image
{
	color:green;
}

td.artist-name
{
	color:black;
}


// 2013
.artists
{
	overflow:hidden;
	/*background-color: black;*/
}

.front.artists ul
{
	text-align: left;
	/*width:220px;*/
	font-size: 14px;
	/*float:left;*/
	background-color: $charcoal;
	color:$linen;
	list-style-type:none;
	margin:0;
	width:auto;


}

.front.artists img
{
	background-color: black;
}

.front.artists ul
{

}

#artistCarousel
{
	width: auto;
	/*height: 100%;*/
	float: left;
	/*box-shadow: 5px 5px 10px black;*/
	margin-right: 10px;
}

li.artists
{
	font-size: 1em;
	/*line-height: 1.9em;*/
	padding-left: 15px;
	padding-top: 1px;
	/*display:inline;*/
	&:hover{
		cursor:pointer;
		background-color: $ice;
		color:$charcoal;
	};
}
li.artists.active
{
	/*display:inline;*/
	background-color: $pepto;
	color: black;
	-webkit-transition: background-color .1s linear;
}
/*.front.artists ul:first-child
{
	background-color: $myCurry;
}*/
li.artists.more
{
	margin-right: 10px;
	text-align:right;
}
li.artists a
{

}

img.artist
{
	/*box-shadow: 5px 5px 5px black;*/
	border: 3px solid;
	border-color: $charcoal;
	max-width: 98%;
	margin: auto;
	display: block;
}

p.artist_bio
{
	color:$charcoal;
	margin-top: 15px;
	text-align:justify;
}

h2.artist_name
{
	padding: 10px;
	background-color:white;
	background-color: rgba(255,255,255,.8);

	color:$pepto;
	margin-top:0px;
	font-size:1.4em;
	line-height: 1.5em;
}

.artist_media
{
	padding-top:50px;
}

@mixin artist-lists($percent)
{
	font-size:20px*$percent;
	line-height:33px*$percent;
	padding-left:6px;
	padding-right:6px;
	margin-bottom:12px*$percent;
	letter-spacing:1px*$percent;
	text-align:center;
	height:50px*$percent;
}
@mixin artist-divs($percent)
{
	font-size:24px*$percent;
	line-height:33px*$percent;
	text-align:center;
	margin-bottom:10px;
	margin-top:5px;

}

h2.lineup
{
	text-align:center;
	margin: 0px;
	color:$eggplant;
}
.tier1, .tier2
{
	margin-top:25px;
	margin-bottom: 25px;
}
.tier1 div, .tier1 div > a 
{
	@include artist-divs(1.0);
	color:$pool;
}
.tier2 div, .tier2 div > a
{
	@include artist-divs(.85);
	color:$pepto;
}

.tier3 div, .tier3 div
{
	@include artist-divs(.7);
	color:$kelly;
}

h2.lineup
{
	font-size:1.6em;
}

@mixin artist-ul($percent)
{
	font-size:1.2em*$percent;
	line-height:1.2em*$percent;
	text-align:center;
	margin: 10px 15px;

}

ul.tier1
{
	@include artist-ul(1.0);
}

ul.tier2
{
	@include artist-ul(0.95);
}
ul.tier3
{
	@include artist-ul(0.9);
}

ul.tier1 > li, ul.tier2 > li, ul.tier3 > li
{
	display:inline-block;
	&:hover
	{
		color:$truck;
	}
} 

ul.tier1 > li a, ul.tier2 > li a, ul.tier3 > li a
{
	text-transform:uppercase;
	line-height:1.2em;
	&:hover
	{
		text-decoration:none;
		color:$pool;
	}
}
ul.tier1 > li a
{	
	color:$truck;
}
ul.tier2 > li a
{
	color:$kelly;
}
ul.tier3 > li a
{
	color:$eggplant;
}
i.artist_spacer
{
	color:$smoke;
}

div.artist
{
	margin-top:15px;
}

div.artist > .span6
{
	margin-top: 10px;
}
@media all and (max-width:975px)
{
	iframe.youtube
	{
		width: 300px;
		height: 236px;
	}
}

div#widgetContainer
{
	left:0px;
}




