@import "bootstrap_and_overrides.css.less";
a.dashboard-popup i.icon-ok, i.icon-ok
{
	color:green;
}

a.dashboard-popup i.icon-remove, i.icon-remove
{
	color:red;
}

a.dashboard-popup:hover
{
	background-color:inherit;
	text-decoration:none;
}

#artists_front_page_dashboard ul
{
	list-style-type:none;
	display: inline-block;
}