@import "bootstrap_and_overrides.css.less";
a.dashboard-popup i.icon-ok, i.icon-ok
{
	color:green;
}

a.dashboard-popup i.icon-remove, i.icon-remove
{
	color:red;
}

a.dashboard-popup:hover
{
	background-color:inherit;
	text-decoration:none;
}

#artists_front_page_dashboard ul
{
	list-style-type:none;
	display: inline-block;
	float:left;
	margin: 0px 15px;
	padding-left:15px;
	padding-right:15px;
	width:33%;
}

#artists_front_page_dashboard ul li.ui-state-default
{
	color:black;
	&:hover{ cursor:pointer; color:red;}
}

#artists_front_page_dashboard h3
{
	display:inline-block;
	float:left;
}

#selections
{
	display:inline-block;
	height:175px;
	background-color:#eee;
}
.instructions
{
	color:#aaa;
}

textarea.new_post
{
	width: 90%;

}
.new_post h3, .prev_posts h3
{
	font-size: 18px;
	line-height: 20px;
}

.prev_posts ul
{
	background-color:#A3B1CF;
	list-style-type: none;
	display: block;
	margin: 0;
	padding: 15px;
}

.prev_posts ul > li
{
	background-color: white;
	padding: 3px;
	border-radius: 3px;
	font-size: 12px;
	margin-bottom:5px;
}
.prev_posts .title, .prev_posts .date
{
	display: inline;
}
.prev_posts .title
{
	font-weight:bold;
}
.prev_posts .date
{
	margin-left: 15px;
	color: grey;
} 
.page_body
{
	width:50%;
}

#page_text
{
	width:600px;
	height: 400px;
}

ul.tier_one_order, ul.tier_two_order
{
	list-style-type:none;
	&:hover
	{
		cursor:pointer;
	}
}
