// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "colors";

.schedule
{
  h2{
    color: #e44921;
    font-family: Mercury;
    font-size: 24px;
    font-weight: bold;
  } 
  ul.events
  {
    padding:0px;
    list-style-type:none;
    div
    {
      display:inline-block;
    }
    li
    {
      padding:0px 12px;
    }
  }
}









