@font-face
{
	font-family:Whitney;
	font-style:italic;
	font-weight:normal;
	src: url('Whitney-LightItalic.otf');
}
@font-face
{
	font-family:Whitney;
	font-weight:normal;
	src: url('/assets/Whitney-Book.otf');
}
@font-face
{
	font-family:Whitney;
	font-weight:lighter;
	src: url('Whitney-Light-Pro.otf');
}


@font-face
{
	font-family:Whitney;
	font-weight:bold;
	src: url('Whitney-Bold.otf');
}
/*@include font-face(WhitneyBook, '../font/Whitney-Book.otf');*/
