@font-face
{
	font-family:WhitneyBook;
	src: asset_path('Whitney-Book.otf', font);
	/*src: url('fonts/Whitney-Book.otf');*/
}
/*@font-face
{
	font-family:WhitneyLight;
	src: url('../fonts/Whitney-Light.otf');
}
*/
@font-face
{
	font-family:Whitney;
	font-weight:bold;
	src: asset_path('Whitney-Bold.otf', font);
}
/*@include font-face(WhitneyBook, '../font/Whitney-Book.otf');*/