@font-face
{
	font-family:WhitneyBook;
	src: local('☺');
	src: url('../fonts/Whitney-Book.otf');
}
/*@font-face
{
	font-family:WhitneyLight;
	src: local('☺');
	src: url('../fonts/Whitney-Light.otf');
}
*/
@font-face
{
	font-family:Whitney;
	font-weight:bold;
	src: local('☺');
	src: url('fonts/Whitney-Bold.otf');
}
/*@include font-face(WhitneyBook, '../font/Whitney-Book.otf');*/