@mixin type-base($scale, $color)
{
  font-size:64px*$scale;  
  text-align:center;
  font-weight:normal;
  text-transform:uppercase;
  line-height:70px*$scale;
  color:$color;
}
body.interim
{
  background-color:black;
  background-image:none;

  .event
  {
    margin-bottom:20px;
    border-bottom: 1px dotted #bbb;
  }
  .event.last
  {
    border:none;
  }
  header 
  {
    text-align:center;
    border-bottom:1px solid #ccc;
  }
  a.logo
  {
    float:none;
  }
  h1
  {
    @include type-base(1.0, #eee);
  }
  h2
  {
    @include type-base(.8, #555);
  }
  h3
  {
    @include type-base(.8, #eee);
  }
  h4, h4 a
  {
    @include type-base(.6, #555);
    margin-bottom:20px;
  }

  h4 a
  {
    &:hover
    {
      cursor:pointer;
    }
  }
  ul
  {
    list-style-type:none;
    text-align:center;
  }
  ul li, ul li a
  {
    display:inline-block;
    @include type-base(.5,#eee);
  }
  ul li
  {
    margin: 15px;
  }
}





