body.interim
{
  background-color:black;
  background-image:none;

  header 
  {
    text-align:center;
    border-bottom:1px solid #ccc;
  }
  a.logo
  {
    float:none;
  }
  h1
  {
    font-size:96px;  
    text-align:center;
    font-family:'Alef', sans-serif;
    font-weight:bold;
    line-height:100px;
    color:#eee;
  }
}





