@mixin type-base($scale, $color)
{
  font-size:25px*$scale;  
  text-align:center;
  font-weight:normal;
  text-transform:uppercase;
  line-height:26px*$scale;
  color:$color;
}
body.interim
{
  background-color:black;
  background:url('splash-bg.jpg') no-repeat center 0px;
  background-size:cover;

  .event
  {
    margin-bottom:20px;
    /*border-bottom: 1px dotted #bbb;*/
  }
  .event.last
  {
    border:none;
  }
  header 
  {
    padding-top:100px;
    text-align:center;
    /*border-bottom:1px solid #ccc;*/
  }
  a.logo
  {
    float:none;
  }
  h1
  {
    @include type-base(1.0, #eee);
  }
  h2
  {
    @include type-base(.8, #555);
    a
    {color:#aaa}
  }
  h2.footer
  {
    position: fixed;
    text-align: center;
    bottom: 0px;
    width: 940px;
  }
  h3
  {
    @include type-base(.8, #eee);
  }
  h4, h4 a
  {
    @include type-base(.6, #555);
    margin-bottom:20px;
  }

  h4 a
  {
    &:hover
    {
      cursor:pointer;
    }
  }
  ul
  {
    list-style-type:none;
    text-align:center;
  }
  ul li, ul li a
  {
    display:inline-block;
    @include type-base(.5,#eee);
  }
  ul li
  {
    margin: 15px;
  }
  .sponsors
  {
    position:relative;
    a{
      height:46px;
      bottom:38px;
    }
  }
  .splash
  {
    margin-top:60px;
    border:3px solid black;
    width:900px;
    position:relative;
  }
}

.announce{
  a{
    display: inline-block;
    position: absolute;
    float:left;
  }

}




