@import "fonts";
@import "colors";
body
{

	background-color: $charcoal;
}

h1
{
	color:$pool;
}

h2
{
	color:$olive;
	font-weight:normal;
}

h2 a
{
	color:$olive;
	font-weight:normal;
	&:hover{
		color:$pool;
		text-decoration:none;
	};
}
h3
{
	color: $pepto;
}

a
{
	color:$ice;
	&:hover
	{
		color:$pepto
	}
}

.modal-body {
    max-height: 700px;
    max-width:700px;
}