@import 'fonts';
@import 'colors';

h1#page_title
{
	font-family:Whitney;
	font-weight:lighter;
	color:white;
	margin:auto;
	font-size:25px;
	line-height:25px;
	text-transform:uppercase;
}

.page
{
	padding:20px;

}
.page > p
{
	text-align:justify;
}
.feature img
{
	opacity: .75;
	padding-bottom: 10px;
}

img.bordered
{

	border-bottom: 1px dotted;
}



.feature > h3
{
	margin-bottom: 0px;
}
.feature > h3 > a
{
	font-weight:normal;
	color:$pepto;
	padding-bottom: 0px;
	&:hover
	{
		cursor:pointer;
	}
}

