@import "colors";


.post
{
/*	margin: 8px 24px 8px 8px;
	border-bottom: 1px dotted;
*/
}

.post:last-of-type
{
	border-bottom:none;
}

.post_title
{
	display:inline-block;
	font-size:1.3em;
	color: $ice;
}

.post_date
{
	display:inline-block;
	color: $smoke;
}

.post_body
{
	margin-bottom: 5px;
	color: $linen;
	height: 197px;
min-height: 197px;
width: 90%;
margin-left: 12px;
text-align: justify;
}