@import "colors";

cite
{
	font-style:italic;
}

.attached_events
{
	a.light
	{
		height:120px;
		width:120px;
	}
	a.light img
	{
		max-width:120px;
	}
	.event_border
	{
		border-bottom:1px dotted black;
		margin-bottom: 10px;
	}
	.attached_event
	{
		padding-bottom: 10px;
	}
	h2
	{
		font-size:1.5em;
		line-height:1.5em;
		margin:0px;
	}
	.time_loc, .price
	{
		font-size:1.1em;
		line-height:1.2em;
	}
	.time_loc
	{
		color:$pepto;
	}
	.media
	{
		margin-top:8px;
	}
}