@import "colors";

cite
{
	font-style:italic;
}

.attached_events
{
	h2 a
	{
		color:$pool;
		&:hover
		{
			color:$pepto;
		}
	}
	a.ticket_url
	{
		background-color: #a7d6dd;
		color: white;
		padding: 3px;
		border-radius: 3px;
		margin-top: 4px;
		&:hover
		{
			text-decoration:none;
		}
	}
	a.light
	{
		box-shadow: 3px 3px 4px #777;
		margin-bottom: 5px;
	}
	a.light img
	{
		max-width:150px;
	}
	.event_border
	{
		border-bottom:1px dotted black;
		margin-bottom: 10px;
	}
	.attached_event
	{
		padding-bottom: 10px;
	}
	h2
	{
		font-size:1.5em;
		line-height:1.5em;
		margin:0px;
	}
	.time_loc, .price
	{
		font-size:1.1em;
		line-height:1.2em;
		margin-bottom:5px;
	}
	.time_loc
	{
		color:$pepto;
	}
	.media
	{
		margin-top:8px;
	}
}